.react_test {
  margin: 18px;
}

.line {
  background-color: grey;
  height: 2px;
  width: 200px;
  margin: auto;
}

.sidebar {
  /* width: 23.5%; */
  margin: 0;
  /* position: fixed; */
}

.toolbar {
  display: none;
}
